<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="websiteurl" value="" />
    <add key="imagepath" value="/admin/upload/Image/" />
    <add key="gallerypath" value="/admin/upload/PhotoGallery/" />
    <add key="achiverpath" value="/admin/upload/AchiverGallery/" />
    <add key="filepath" value="/root/upload/file/" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="SecurityKey" value="" />
    <add key="EmlPath" value="\EmailTemplates" />
    <add key="Phypath" value="" />
    <add key="mailFrom" value="" />
    <add key="mailTo" value="" />
    <add key="mailCC" value="" />
    <add key="mailBCC" value="" />
    <add key="SMTP" value="" />
    <add key="FROMEMAIL" value="" />
    <add key="FROMPWD" value="" />
    <add key="enable_SMS" value="true" />
    <add key="enable_Email" value="false" />
    <!--Razorpay PG-->
    <!--<add key="Razorpay_Merchant_ID" value="DPgUYCSLhpgKtkLM75JovFXU"/>
    <add key="Razorpay_Merchant_Key" value="rzp_live_QlXUGDwOmJIHnZ"/>-->
    <add key="Razorpay_Merchant_Key" value="rzp_test_6NSZvxkT17UTdW" />
    <add key="Razorpay_Merchant_ID" value="GoHXQE8U0hAvFJ5sDzR2xcgq" />
    <!--<add key="Merchant_Key" value="rzp_live_Ro4AfLHjFAIqLX" />
    <add key="Secret" value="ylvrWliwd351zWaXIa1x3icu" />-->
    <add key="sfurlRazorPay" value="http://Shreetour.co.in/" />
    <add key="RazorPayURL" value="https://razorpay.com/" />
	  
    <!--Razorpay PG-->
    <add key="hashSequence" value="key|PayID|OrderID|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=103.149.165.164;Initial Catalog=db_tourtravel;User ID=tourandtraveluser;Password=JHghg#@#ggghyuy;Pooling=True;Min Pool Size=0;Max Pool Size=250;Connect Timeout=100000" />
	  <add name="Excel03conStringExcel" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
	  <add name="Excel07+conStringExcel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0 Xml;HDR=YES'" />

  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->

	<system.web>
    <sessionState timeout="600" />
    <globalization culture="en-US" uiCulture="en-US" enableClientBasedCulture="false" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="12000" enable="true" />
    <authentication mode="Windows" />
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <identity impersonate="true" />
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <handlers />
    <validation validateIntegratedModeConfiguration="false" />
    <!--<rewrite>
      <rules>
        <rule name="Rewrite to index.aspx" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/index.aspx" />
        </rule>
        <rule name="Rewrite to admin" stopProcessing="true">
          <match url="^admin(/.*)?" />
          <action type="Rewrite" url="/Admin/default.aspx" />
        </rule>
      </rules>
    </rewrite>-->
    <defaultDocument>
      <files>
        <clear />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>